<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container desktop main-dashboard" style="color: #93898A">
  <div ng-include="'components/dashboard/score.html'"></div>
  <div class="row">
    <div  ng-click="setFilter('live')"
          ng-class="{'active-filter': live}"
          class="col-xs-4"
          style="font-size: 20px;border: 1px solid #ccc; line-height: 50px; color: #42A3BE; background: #F0F0F0; cursor: pointer;">
      Live Contests
    </div>
    <div  ng-click="setFilter('upcoming')"
          ng-class="{'active-filter': upcoming}"
          class="col-xs-4"
          style="font-size: 20px;border: 1px solid #ccc; line-height: 50px; color: #42A3BE; background: #F0F0F0; cursor: pointer;">
      Upcoming Contests
    </div>
    <div  ng-click="setFilter('past')"
          ng-class="{'active-filter': past}"
          class="col-xs-4"
          style="font-size: 20px;border: 1px solid #ccc; line-height: 50px; color: #42A3BE; background: #F0F0F0; cursor: pointer;">
      Past Contests
    </div>

    <div ng-show="live == true">
      <div  ng-repeat="contest in allContests"
            class="col-lg-12"
            ng-show="contest.state=='live'"
            style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 18px; color: #42A3BE; cursor: pointer">
        <div class="row">
          <div style="width: 10%; display: inline-block; float:left;">
            {{contest.fee}} <img src="assets/images/money-bag-blue.png" width="24">
          </div>
          <div style="width: 10%; display: inline-block; float:left; color: #912927">
            <div gem-repeat="" fee="{{contest.fee}}" player="{{contest.max_players}}" gemcount="{{calGem(contest.fee, contest.max_players).count}}"></div>
          </div>
          <div style="width: 40%; display: inline-block; float:left;" ui-sref="contestshow({contest: contest._id, liveDashboard: true})">
            <div ng-if="checkHost(contest)" style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">H</div>
            <div ng-if="!checkHost(contest) && checkJoin(contest)" style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">P</div>
            {{contest.name}}
          </div>
          <div style="width: 20%; display: inline-block; float:left;">{{contest.program.name}}</div>
          <div style="width: 15%; display: inline-block; float:left;">{{checkPosition(contest)}}</div>
          <div style="width: 5%; display: inline-block; float:left; text-align: center;">
            <div style="color: #fff; background: #26AE58;" ui-sref="programTemplate.template.contest.vs({contest_id: contest.id.$oid, program_id: contest.program._id.$oid,user_id: contest.leaders[0].id.$oid, template_id: contest.template._id.$oid})">View</div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="upcoming == true">
      <div  ng-repeat="contest in allContests"
            class="col-lg-12"
            ng-show="contest.state=='upcoming'"
            style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 18px; color: #42A3BE; cursor: default;">
        <div class="row">
          <div style="width: 10%; display: inline-block; float:left;">
            {{contest.fee}} <img src="assets/images/money-bag-blue.png" width="24">
          </div>
          <div style="width: 10%; display: inline-block; float:left; color: #912927">
            <div gem-repeat="" fee="{{contest.fee}}" player="{{contest.max_players}}" gemcount="{{calGem(contest.fee, contest.max_players).count}}"></div>
          </div>
          <div style="width: 30%; display: inline-block; float:left;">
            <div ng-if="checkHost(contest)" style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">H</div>
            <div ng-if="!checkHost(contest) && checkJoin(contest)" style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">P</div>
            {{contest.name}}
          </div>

          <div style="width: 20%; display: inline-block; float:left;">{{contest.program.name}}</div>
          <div style="width: 10%; display: inline-block; float:left;">{{contest.players.length}} / {{contest.max_players}} Player</div>
          <div style="width: 7%; display: inline-block; float:left; text-align: center;">
            <div style="color: #BB0E0E;" count-down="{{contest.upcoming_time}}"></div>
          </div>
          <div style="width: 5%; display: inline-block; float:right; text-align: center;cursor:pointer;">
            <div style="color: #fff; background: #26AE58;" ui-sref="programTemplate.template.contest({contest_id: contest.id.$oid, program_id: contest.program._id.$oid, template_id: contest.template._id.$oid})">View</div>
          </div>
          <div style="width: 5%; display: inline-block; float:right; text-align: center;margin-right:2px;cursor:pointer;">
            <div style="color: #fff; background: #26AE58;" ui-sref="contestQuizEdit({contest_id: contest.id.$oid, liveDashboard: true, template_id: contest.template._id.$oid})">Edit</div>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="past == true">
        <div  ng-repeat="contest in allContests"
              class="col-xs-12"
              ng-show="contest.state=='end' || contest.state=='cancel'"
              style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 18px; color: #42A3BE; cursor: pointer">
          <div class="row">
            <div style="width: 10%; display: inline-block; float:left;">
              {{contest.fee}} <img src="assets/images/money-bag-blue.png" width="24">
            </div>
            <div style="width: 10%; display: inline-block; float:left; color: #912927">
            <div gem-repeat="" fee="{{contest.fee}}" player="{{contest.max_players}}" gemcount="{{calGem(contest.fee, contest.max_players).count}}">
            </div>
            </div>
            <div style="width: 40%; display: inline-block; float:left;">
              <div ng-if="contest.owner == currentUser.email || contest.owner == currentUser.username" style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">H</div>
              {{contest.name}}
            </div>
            <div style="width: 20%; display: inline-block; float:left;">{{contest.program.name}}</div>
            <div style="width: 15%; display: inline-block; float:left;">{{contest.players.length}} / {{contest.max_players}} Player</div>
            <div style="width: 5%; display: inline-block; float:left; text-align: center;">
              <div style="color: #fff; background: #26AE58;" ui-sref="programTemplate.template.contest({contest_id: contest.id.$oid, program_id: contest.program._id.$oid, template_id: contest.template._id.$oid})">View</div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>





<!-- -------------------Mobile section-------------------------------- -->


<div class="container phone main-dashboard" style="color: #93898A">
  <div class="row">
    <div class="col-lg-12">
      <h2 style="color: #8066A0; cursor: pointer" ui-sref="main" class="name-head">
        {{user.username}} Dashboard
      </h2>
    </div>

    <div class="col-lg-12">
      <div class="tab-list" ng-click="mobileTab = 'Announcements'">
        <div class="left-name">
          Announcements
        </div>
        <div class="right-name">
          <div class="block-number red">
            {{user.messages.length}}
          </div>
        </div>
      </div>

      <div class="col-lg-12 in-tab-mobile" ng-show="mobileTab == 'Announcements'">
        <h5 ng-show="$root.currentUser.messages.length == 0">No Announcements now</h5>
        <div class="alert alert-info" style="padding: 5px 10px 0px 10px;
        line-height: 15px;
        margin-bottom: 5px;" role="alert" ng-repeat="message in $root.currentUser.messages"
        ng-click="openMessage($index)"
        >
          <div class="close-message" ng-click="deleteMessage($index)">{{openMessage}}<i class="fa fa-times" aria-hidden="true" ></i></div>
          <i style="font-size: 25px;color: #999;margin-top:3;" class="fa fa-bullhorn" aria-hidden="true"></i>
          <span class="sr-only"></span>
          <div class="message" ng-class="{'open':$root.openMessage==$index}">{{message.message}}</div>
        </div>
      </div>

      <div class="tab-list" ng-click="mobileTab = 'Wins'">
        <div class="left-name">
          Wins
        </div>
        <div class="right-name">
          <div class="block-number purple">
            {{user.winners}}
          </div>
        </div>
      </div>

      <div class="col-lg-12 in-tab-mobile" ng-show="mobileTab == 'Wins'">
        <div ng-repeat="contest in wonContests" class="col-lg-12" style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 14px; color: #42A3BE; cursor: pointer;">
           <div class="row">
           <!--  <div style="width: 10%; display: inline-block; float:left;">
              {{contest.fee}} <img src="assets/images/money-bag-blue.png" width="24">
            </div> -->
            <div style="width: 85px; display: inline-block; float:left; color: #912927;text-align:center;">
              <span ng-repeat="prize in contest.loot_prize">
                <i ng-show="prize.type!='coin'" class="fa fa-diamond" style="{{checkGemColor(prize.type)}}" aria-hidden="true"></i>
                <i ng-if="prize.type!='coin' && prize.value>1" class="fa fa-diamond" style="{{checkGemColor(prize.type)}}" aria-hidden="true"></i>
                <i ng-if="prize.type!='coin' && prize.value>2" class="fa fa-diamond" style="{{checkGemColor(prize.type)}}" aria-hidden="true"></i>
                <i ng-if="prize.type!='coin' && prize.value>3" class="fa fa-diamond" style="{{checkGemColor(prize.type)}}" aria-hidden="true"></i>
                <i ng-if="prize.type!='coin' && prize.value>4" class="fa fa-diamond" style="{{checkGemColor(prize.type)}}" aria-hidden="true"></i>
                <span ng-show="prize.type == 'coin'" style="color:#999;">{{prize.value}} coins</span>
              </span>
            </div>
            <!-- <div style="width: 140px; display: inline-block; float:left;overflow:hidden;text-overflow:ellipsis;">
              <div ng-if="checkHost(contest)" style="display: inline-block; width: 20px; height: 20px; border-radius: 15px; font-size: 12px; line-height: 20px; text-align: center; border: 1px solid">H</div>
              <div ng-if="!checkHost(contest) && checkJoin(contest)" style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">P</div>
              {{contest.name}}
            </div>
 -->
            <div style="width: 100px; display: inline-block; float:left;">{{contest.program.name}}</div>
        
            <div style="width: 15%; display: inline-block; float:left;">{{checkPosition(contest)}}</div>
            <div style="width: 45px; display: inline-block; float:right; text-align: center;cursor:pointer;">
              <div style="color: #fff; background: #26AE58;" ui-sref="programTemplate.template.contest.vs({contest_id: contest.id.$oid, program_id: contest.program._id.$oid,user_id: contest.leaders[0].id.$oid, template_id: contest.template._id.$oid})">View</div>
            </div>
            <div style="width: 45px; display: inline-block; float:right; text-align: center;margin-right:2px;cursor:pointer;">
            </div>
          </div>
        </div>
      </div>

      <div class="tab-list" ng-click="mobileTab = 'live'">
        <div class="left-name">
          Live Contests
        </div>
        <div class="right-name">
          <div class="block-number sky">
            {{liveCount}}
          </div>
        </div>
      </div>

      <div class="col-lg-12 in-tab-mobile" ng-show="mobileTab == 'live'">
        <div  ng-repeat="contest in allContests"
            class="col-lg-12"
            style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 14px; color: #42A3BE; cursor: pointer;"
            ng-show="contest.state == 'live'">
         <div class="row">
           <!--  <div style="width: 10%; display: inline-block; float:left;">
              {{contest.fee}} <img src="assets/images/money-bag-blue.png" width="24">
            </div> -->
            <div style="width: 85px; display: inline-block; float:left; color: #912927;text-align:center;">
              <div gem-repeat="" fee="{{contest.fee}}" player="{{contest.max_players}}" gemcount="{{calGem(contest.fee, contest.max_players).count}}"></div>
            </div>
            <!-- <div style="width: 140px; display: inline-block; float:left;overflow:hidden;text-overflow:ellipsis;">
              <div ng-if="checkHost(contest)" style="display: inline-block; width: 20px; height: 20px; border-radius: 15px; font-size: 12px; line-height: 20px; text-align: center; border: 1px solid">H</div>
              <div ng-if="!checkHost(contest) && checkJoin(contest)" style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">P</div>
              {{contest.name}}
            </div>
 -->
            <div style="width: 100px; display: inline-block; float:left;">{{contest.program.name}}</div>
        
            <div style="width: 15%; display: inline-block; float:left;">{{checkPosition(contest)}}</div>
            <div style="width: 45px; display: inline-block; float:right; text-align: center;cursor:pointer;">
              <div style="color: #fff; background: #26AE58;" ui-sref="programTemplate.template.contest.vs({contest_id: contest.id.$oid, program_id: contest.program._id.$oid,user_id: contest.leaders[0].id.$oid, template_id: contest.template._id.$oid})">View</div>
            </div>
            <div style="width: 45px; display: inline-block; float:right; text-align: center;margin-right:2px;cursor:pointer;">
            </div>
          </div>

      </div>

      </div>

      <!-- ui-sref="programTemplate.template.contest.vs({contest_id: contest.id.$oid, program_id: contest.program._id.$oid,user_id: contest.leaders[0].id.$oid, template_id: contest.template._id.$oid})" -->

      <div class="tab-list" ng-click="mobileTab = 'Upcoming'">
        <div class="left-name">
          Upcoming Contests
        </div>
        <div class="right-name">
          <div class="block-number sky">
            {{upcomingCount}}
          </div>
        </div>
      </div>

      <div class="col-lg-12 in-tab-mobile" ng-show="mobileTab == 'Upcoming'">
        <div  ng-repeat="contest in allContests"
          ng-show="contest.state == 'upcoming'"
            
            style="border-bottom: 1px solid #ccc; line-height:50px; font-size: 14px; color: #42A3BE; cursor: pointer">
          <div class="row">
           <!--  <div style="width: 10%; display: inline-block; float:left;">
              {{contest.fee}} <img src="assets/images/money-bag-blue.png" width="24">
            </div> -->
            <div style="width: 85px; display: inline-block; float:left; color: #912927;text-align:center;">
              <div gem-repeat="" fee="{{contest.fee}}" player="{{contest.max_players}}" gemcount="{{calGem(contest.fee, contest.max_players).count}}"></div>
            </div>
            <!-- <div style="width: 140px; display: inline-block; float:left;overflow:hidden;text-overflow:ellipsis;">
              <div ng-if="checkHost(contest)" style="display: inline-block; width: 20px; height: 20px; border-radius: 15px; font-size: 12px; line-height: 20px; text-align: center; border: 1px solid">H</div>
              <div ng-if="!checkHost(contest) && checkJoin(contest)" style="display: inline-block; width: 30px; height: 30px; border-radius: 15px; font-size: 16px; line-height: 30px; text-align: center; border: 1px solid">P</div>
              {{contest.name}}
            </div> -->

            <div style="width: 100px; display: inline-block; float:left;">{{contest.program.name}}</div>
            <div style="width: 50px; display: inline-block; float:left;">{{contest.players.length}} / {{contest.max_players}} P</div>
            <div style="width: 7%; display: inline-block; float:left; text-align: center;">
              <div style="color: #BB0E0E;" count-down="{{contest.upcoming_time}}"></div>
            </div>
            <div style="width: 45px; display: inline-block; float:right; text-align: center;cursor:pointer;">
              <div style="color: #fff; background: #26AE58;" ui-sref="programTemplate.template.contest({contest_id: contest.id.$oid, program_id: contest.program._id.$oid, template_id: contest.template._id.$oid})">View</div>
            </div>
            <div style="width: 45px; display: inline-block; float:right; text-align: center;margin-right:2px;cursor:pointer;">
              <div style="color: #fff; background: #26AE58;" ui-sref="contestQuizEdit({contest_id: contest.id.$oid, liveDashboard: true, template_id: contest.template._id.$oid})">Edit</div>
            </div>
          </div>
        </div>


      </div>


    </div>
  </div>

  <div class="row my-loot-box">
    <div class="my-loot-text">
      My Loot
    </div>
    <div class="loot-block">
      <div class="loot-left">
        <img src="assets/images/Piggy Bank Icon.png" width="44">
      </div>
      <div class="loot-right">
         {{user.coins | currency:"":0}}
      </div>
    </div>

    <div class="loot-block">
      <div class="loot-left">
        <i class="fa fa-diamond" style="color: #9F9B93" aria-hidden="true"></i>
      </div>
      <div class="loot-right">
         {{user.diamonds}}
      </div>
    </div>

    <div class="loot-block">
      <div class="loot-left">
        <i class="fa fa-diamond" style="color: #758F42" aria-hidden="true"></i>
      </div>
      <div class="loot-right">
         {{user.emeralds}}
      </div>
    </div>

    <div class="loot-block">
      <div class="loot-left">
        <i class="fa fa-diamond" style="color: #2A4C7A" aria-hidden="true"></i>
      </div>
      <div class="loot-right">
        {{user.sapphires}}
      </div>
    </div>

    <div class="loot-block">
      <div class="loot-left">
        <i class="fa fa-diamond"  style="color: #951111" aria-hidden="true"></i>
      </div>
      <div class="loot-right">
         {{user.rubies}}
      </div>
    </div>




  </div>


</div>

<!-- <div class="flex-main-item">
        {{$root.currentUser.rubies}} <br>
        <i class="fa fa-diamond"  style="color: #951111" aria-hidden="true"></i>
      </div>
      <div class="flex-main-item" >
        {{$root.currentUser.sapphires}} <br>
        <i class="fa fa-diamond" style="color: #2A4C7A" aria-hidden="true"></i>
      </div>
      <div class="flex-main-item" >
        {{$root.currentUser.emeralds}} <br>
        <i class="fa fa-diamond" style="color: #758F42" aria-hidden="true"></i>
      </div>
      <div class="flex-main-item">
        {{$root.currentUser.diamonds}} <br>
        <i class="fa fa-diamond" style="color: #9F9B93" aria-hidden="true"></i>
      </div>
 -->


















