<div class="compair-modal">
  <div class="bg"></div>
  <div class="content-box">
    <i class="fa fa-times close-btn" ng-click="cancelVs()"></i>
    <h3>{{playerMe.email}} VS {{playerVs.email}}</h3>
    <div class="row">
      <table class="table" style="border-radius: 0px;">
        <tbody>
          <tr>
            <td class="text-blue" style="text-align:left;width: 50%">
            </td>
            <td class="text-blue" style="text-align:left;width: 25%">
              <div style="width: 90%;background:#999;color:#fff;height:100%;text-align: center;line-height: 30px;">
                {{playerMe.score}}
              </div>
            </td>
            <td class="text-blue" style="text-align:left;width: 25%">
              <div style="width: 90%;background:#50ACC4;color:#fff;height:100%;text-align: center;line-height: 30px;">
                {{playerVs.score}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-blue" style="text-align:left;width: 50%">
              question
            </td>
            <td class="text-blue" style="text-align:left;width: 25%">
              {{playerMe.email}}
            </td>
            <td class="text-blue" style="text-align:left;width: 25%">
              {{playerVs.email}}
            </td>
          </tr>
          <tr ng-repeat="ans in contest.template.questions">
            <td class="text-blue" style="text-align:left;width: 50%">
              Q{{$index}}
            </td>
            <td class="text-blue" style="text-align:left;width: 25%">
              {{checkIndex($index, 'me')}}
              <span ng-hide="contest.state=='upcoming'">
                <i class="check-ans fa" ng-class="{'fa-check': ans.correct, 'fa-times': !ans.correct}"></i>
              </span>
            </td>
            <td class="text-blue" style="text-align:left;width: 25%">
              {{checkIndex($index, 'vs')}}
              <span ng-hide="contest.state=='upcoming'">
              <i class="check-ans fa" ng-class="{'fa-check': ans.correct, 'fa-times': !ans.correct}"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
