<div ng-include="'components/navbar/navbar.html'"></div>
<section class="contest-new">
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3 style="margin-top: 0px;" class="pp-text">
      <img class="money-bag" style="margin-top:-4px;width: 25px;" src="assets/images/icon-trophy.png">
      Edit Contest
    </h3>
    <h5 class="g-text" style="text-indent: 10px;">Answer {{question.questions.length}} questions for your [ program ] contest.</h5>
      <div class="main-q-box">
        <div ng-repeat="(i,q) in question.questions track by i" class="g-text" id="ques_{{i}}">
          <i class="fa fa-check-circle checked-icon" aria-hidden="true" ng-show="qaSelection[i]"></i>
          <div class="q-box question-title" ng-click="$root.selectQues = i;openAns(i)">Question {{q.name}}</div>

          <div class="q-box ans" ng-repeat="(x,a) in q.answers track by x" ng-show="$root.selectQues==i" ng-selected="checkSelected()">
            <img src="{{a.attachment}}" style="
            width: 50px;height: 50px;border: 2px solid #999;
            border-radius: 4px;
            margin-right: 20px;">
            <input id="ans_{{a._id.$oid}}" type=radio ng-model="qaSelection[i]" value="{&quot;question_id&quot;:&quot;{{q._id.$oid}}&quot;,&quot;answer_id&quot;:&quot;{{a._id.$oid}}&quot;}" ng-click="openAns(i)"> {{a.name}}
          </div>

        </div>
      </div>
      <div class="btn get-prize" style="margin-top: 20px;" ng-click="submitAnswer()" ng-show="unlessEmpty()">CONTINUE</div>
  </div>
</div>
</section>
